.container { 
  padding: 2rem;
  max-width: 720px; 
  margin: 1em auto; 
}
.container h1{
  margin-bottom: 0.25em;
  text-align: center;
}
.container p{
  text-align: center;
}
.form { 
  width: 70%;
  height: auto;
  display:flex; 
  flex-direction:column; 
  gap: 0.75rem; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  background: white; 
  padding: 2em;
  margin: 1em auto;
  border-radius: 10px;
}
.form input, 
.form textarea { 
  padding: 0.75rem; 
  border: 1px solid #ccc;
  margin-top: 1em;
  border-radius: 5px; 
}
.form input:focus,
.form textarea:focus{
  border: none;
}
.form textarea{
  min-height: 70px;
  max-width: 100%;
  min-width: 100%;
}
.form button { 
  width: 100%; 
}

/* =========================
   RESPONSIVE DESIGN
========================= */

/* Large screens (901px and above) */
@media screen and (min-width: 901px) {
  
}

/* Tablets (601px - 900px) */
@media screen and (min-width: 601px) and (max-width: 900px) {
  
}

/* Mobile (max-width: 600px) */
@media (max-width: 600px) {
  .container{
    height: calc(100vh - 10em);
  }
  .container h1{
    font-size: 1.5rem;
  }
  .form {
    width: 100%;
    padding-top: 1em;
  }
}

