.adminPage {
  width: 100%;
  min-height: calc(100vh - 10em);
  height: auto;
  padding: 0 2em;
}
.passwordPage,
.Container { 
  padding: 2rem; 
  max-width: 1100px; 
  margin: 0.5em auto; 
  height: auto;
}
.passwordPage{
  width: 100%;
  height: calc(100vh - 10em);
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.passwordPage input {
  border: 1px solid #ccc;
  /* outline: none; */
  padding: 0.5em;
  border-radius: 5px;
}
.grid { 
  display:grid; 
  grid-template-columns: 
  repeat(auto-fit,minmax(220px,1fr)); 
  gap:1rem; 
  margin-top:1rem;
}
.card { 
  background:white; 
  padding:1rem; 
  border-radius:8px; 
  text-decoration:none; 
  color:inherit; 
  box-shadow:0 6px 12px rgba(0,0,0,0.06); 
}
.card h3 { 
  margin:0; 
  color:var(--color-primary); 
}
.errorMessage{
  color: red;
}