/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./app/auth/auth.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.auth_authPage__nqQZK {
  width: 100%;
  height: calc(100vh - 12em);
  padding: 0 2em;
}
.auth_Container__F_Ou0 {
  max-width: 420px;
  margin: 4rem auto;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  text-align: center;
}
.auth_Container__F_Ou0 a{
  color: var(--color-primary);
}
.auth_form__BXYhi {
  height: auto; 
  display:flex; 
  flex-direction:column; 
  gap:1rem; 
  margin-top: 1rem; 
}
.auth_form__BXYhi input { 
  padding: 0.75rem; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}
.auth_form__BXYhi button { 
  padding: 0.75rem;
  background-color:var(--color-secondary); 
  border:none; 
  border-radius: 5px; 
  color:white; 
  font-weight:600; 
  cursor:pointer; 
  transition: all 0.3s ease;
  margin-bottom: 0.7em;
}
.auth_form__BXYhi button:hover{
  background-color:var(--color-accent); 
}
.auth_logoutText__4Id2w{
   padding: 2rem; 
   text-align: center; 
}
.auth_errorMessage__RQGT3{
  color: red;
}









