@import '../styles/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  box-sizing: border-box; 
  margin:0; 
  padding:0; 
}
html, body {
  background-color: var(--color-bg);
  color:var(--color-text);
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--font-primary);
  letter-spacing: 1px;
}
p {
  font-family: var(--font-secondary);
}
a { 
  color:var(--color-primary); 
  text-decoration:none; 
  font-family: var(--font-secondary);
}
button { 
  background-color:var(--color-secondary); 
  color: var(--color-white-text); 
  border: none; 
  outline: none;
  border-radius: 5px; 
  padding: 0.5rem 1rem; 
  cursor: pointer; 
  font-size: 1rem;
  transition: all 0.3s ease;
}
button:hover { 
  background-color:var(--color-accent); 
}
