/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./app/admin/admin.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.admin_adminPage__fIz8T {
  width: 100%;
  height: calc(100vh - 10em);
}
.admin_passwordPage__JX_BR,
.admin_Container__VkwSZ { 
  padding: 2rem; 
  max-width: 1100px; 
  margin: 0.5em auto; 
}
.admin_passwordPage__JX_BR{
  width: 100%;
  height: calc(100vh - 10em);
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin_passwordPage__JX_BR input {
  border: 1px solid #ccc;
  /* outline: none; */
  padding: 0.5em;
  border-radius: 5px;
}
.admin_grid__LBrhf { 
  display:grid; 
  grid-template-columns: 
  repeat(auto-fit,minmax(220px,1fr)); 
  grid-gap:1rem; 
  gap:1rem; 
  margin-top:1rem;
}
.admin_card__Kn9tF { 
  background:white; 
  padding:1rem; 
  border-radius:8px; 
  text-decoration:none; 
  color:inherit; 
  box-shadow:0 6px 12px rgba(0,0,0,0.06); 
}
.admin_card__Kn9tF h3 { 
  margin:0; 
  color:var(--color-primary); 
}
.admin_errorMessage__jdZne{
  color: red;
}
