/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./app/dashboard/dashboard.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.dashboard_dashboardPage__7vW5Q {
  width: 100%;
  height: calc(100vh - 10em);
}
.dashboard_Container__10VCR { 
  padding: 2rem; 
  max-width: 1100px; 
  margin: 2rem auto; 
}
.dashboard_grid__uxJ2l { 
  display:grid; 
  grid-template-columns: 
  repeat(auto-fit,minmax(220px,1fr)); 
  grid-gap:1rem; 
  gap:1rem; 
  margin-top:1rem; 
}
.dashboard_card__yGBr4 { 
  background:white; 
  padding:1rem; 
  border-radius:8px; 
  text-decoration:none; 
  color:inherit; 
  box-shadow:0 6px 12px rgba(0,0,0,0.06); 
}
.dashboard_card__yGBr4 h3 { 
  margin:0; 
  color:var(--color-primary); 
}

