/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  box-sizing: border-box; 
  margin:0; 
  padding:0; 
}
html, body {
  background-color: var(--color-bg);
  color:var(--color-text);
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--font-primary);
  letter-spacing: 1px;
}
p {
  font-family: var(--font-secondary);
}
a { 
  color:var(--color-primary); 
  text-decoration:none; 
  font-family: var(--font-secondary);
}
button { 
  background-color:var(--color-secondary); 
  color: var(--color-white-text); 
  border: none; 
  outline: none;
  border-radius: 5px; 
  padding: 0.5rem 1rem; 
  cursor: pointer; 
  font-size: 1rem;
  transition: all 0.3s ease;
}
button:hover { 
  background-color:var(--color-accent); 
}

/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./styles/variables.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
:root {
  --color-bg: #fAf8f5;
  --color-primary: #1b3a2e;
  --color-secondary: #c9a646;
  --color-accent: #a65c2e;
  --color-white-text: #f7f7f7;
  --color-black-text: #333;
  --color-blue-text: #333;
  --font-primary: 'Playfair Display', serif;
  --font-secondary: 'Inter', sans-serif;
  --font-accent: 'Dancing Script', serif;
}

/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_homepage__ZOn5L { 
  width: 100%;
  height: auto;
}
.page_hero__7KFOs { 
  width: 100%;
  height: 80vh;
  display: flex;
  color: white; 
  background-color: var(--color-primary); 
  background-blend-mode: overlay; 
}
/* I love you ~ ch  */
.page_heroText__JVWLO{
  width: 45%;
  height: 100%;
  display: flex;
  padding: 0 1em 0 7em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.page_heroBgImage__nTFIP{
  flex: 1 1;
  background: url(/_next/static/media/pee2.96f1d2d8.png) center no-repeat;
  background-size: contain;
}
.page_hero__7KFOs h1 { 
  font-size: 2.2rem; 
  margin-bottom: 0.5rem; 
}
.page_hero__7KFOs p { 
  font-size: 1rem; 
  margin-bottom: 1rem; 
}
.page_cta__i2v5_ { 
  background-color: var(--color-secondary); 
  color: var(--color-white-text); 
  padding: 0.75rem 1rem; 
  border-radius: 5px; 
  font-weight: 400; 
  display:inline-block; 
  transition: all 0.3s ease;
}
.page_cta__i2v5_:hover{
  background-color: var(--color-accent);
}

/* Features */
.page_features__GdcOS { 
  width: 100%;
  height: auto;
  padding: 5em 7em;
}
.page_card__Cf__u h3,
.page_features__GdcOS h1{
  text-align: center;
  font-weight: bold;
}
.page_cards__IHl_z{
  width: 100%;
  height: auto;
  display: grid; 
  grid-gap: 2em; 
  gap: 2em;
  margin-top: 2.5em; 
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
}
.page_card__Cf__u { 
  background: #fff; 
  border-radius: 10px; 
  padding: 2.5rem 4em; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.06); 
}
.page_card__Cf__u h3{
  margin: 0.5em 0;
}
.page_card__Cf__u p{
  line-height: 1.5rem;
  text-align: center;
}
.page_featureIcon__UHR_A{
  place-self: center;
  object-fit: center;
}

/* Video Clips */
.page_videoClip__Swi9Z,
.page_howItWorks__Xf7_c {
  width: 85%;
  height: auto;
  margin: 0 auto;
  padding: 3em 0;
}
.page_howItWorks__Xf7_c{
  padding: 2em 0 5em;
}
.page_videoClip__Swi9Z h1,
.page_howItWorks__Xf7_c h1,
.page_howItWorksCard__JpKQ1 p {
  text-align: center;
}
.page_video___Lden {
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  border-radius: 10px;
  margin-top: 2em;
}
.page_video___Lden video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.page_howItWorksCards__4p5nE {
  display: flex;
  margin-top: 2em;
  gap: 2em;
  align-items: center;
  justify-content: center;
}
.page_howItWorksCard__JpKQ1 {
  background: #fff;
  color: var(--color-black-text);
  width: 25%;
  padding: 3em 1em;
  border-radius: 10px;
  font-size: 1.1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06); 
}
.page_howItWorksCard__JpKQ1 span{
  color: var(--color-secondary);
}

/* TESTIMONIALS */
.page_testimonials__eoJmU{
  width: 100%;
  height: auto;
  background: var(--color-primary);
  color: var(--color-white-text);
  padding: 3em 0 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page_testimonials__eoJmU h1{
  margin-bottom: 1em;
}
.page_testimonies__pvl2_,
.page_testimony__posib{
  gap: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_testimonyImage__me3YV{
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: white;
  border-radius: 50%;
}
.page_testimony__posib img{
  border-radius: 50%;
}
.page_testifierText__xvuJh {
  font-size: 1.2rem;
}
.page_testifierText__xvuJh p{
  line-height: 2rem;
}

/* PLANS */
.page_plans__IitrJ {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}
.page_plans__IitrJ h1 { 
  font-size: 2.2rem; 
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold; 
}
.page_plan__2qeCb{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border: 3px solid var(--color-secondary);
  border-radius: 10px;
  gap: 0.7em;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  transition: all 0.3s ease;
}
.page_plan__2qeCb h2,
.page_plan__2qeCb p{
  text-align: center;
}
.page_plan__2qeCb ul{
  padding-left: 3em;
}
.page_plan__2qeCb ul li{
  padding: 0.5em 0;
  font-size: 1.1rem;
}
.page_plan__2qeCb button{
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  transition: all 0.3s ease;
}
.page_plan__2qeCb:hover{
  border: 3px solid var(--color-accent);
  transform: scale(1.05);
}
.page_plan__2qeCb:hover button{
  background-color: var(--color-accent); 
}
.page_planCards__187cx{
  display: flex;
  gap: 2em;
}


/* =========================
   RESPONSIVE DESIGN
========================= */

/* Large screens (901px and above) */
@media screen and (min-width: 901px) {
  .page_heroText__JVWLO {
    width: 45%;
    padding: 0 1em 0 7em;
  }

  .page_video___Lden {
    height: 80vh;
  }

  .page_howItWorksCards__4p5nE {
    flex-direction: row;
  }

  .page_planCards__187cx {
    flex-direction: row;
  }
}

/* Tablets (601px - 900px) */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .page_hero__7KFOs {
    flex-direction: column;
    height: 70vh;
    text-align: center;
  }
  .page_heroText__JVWLO {
    width: 100%;
    padding: 2em;
    align-items: center;
  }
  .page_heroBgImage__nTFIP {
    width: 100%;
    height: 50vh;
    background-size: cover;
  }
  .page_features__GdcOS {
    padding: 3em 2em;
  }
  .page_cards__IHl_z{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
  }

  .page_howItWorksCards__4p5nE {
    flex-wrap: wrap;
  }
  .page_howItWorksCard__JpKQ1 {
    width: 45%;
  }

  .page_testimonies__pvl2_ {
    flex-direction: column;
  }

  .page_planCards__187cx {
    flex-wrap: wrap;
    justify-content: center;
  }
  .page_plan__2qeCb {
    width: 45%;
  }
}

/* Mobile (max-width: 600px) */
@media (max-width: 600px) {
  .page_links__t4Q_2 {
    display: none;
  }
  .page_hero__7KFOs {
    flex-direction: column;
    text-align: center;
    height: 80vh;
    padding: 2em 1em;
  }
  .page_heroText__JVWLO {
    width: 100%;
    padding: 1em;
    align-items: center;
  }
  .page_heroText__JVWLO h1{
    font-size: 1.85rem;
  }
  .page_heroBgImage__nTFIP {
    width: 100%;
    height: 40vh;
    background-size: cover;
  }
  .page_features__GdcOS {
    padding: 2em 1em;
  }
  .page_cards__IHl_z {
    grid-template-columns: 1fr;
  }
  .page_video___Lden {
    width: 100%;
    height: 30vh;
  }

  .page_howItWorksCards__4p5nE {
    flex-direction: column;
  }
  .page_howItWorksCard__JpKQ1 {
    width: 90%;
  }

  .page_testimonies__pvl2_ {
    flex-direction: column;
    gap: 2em;
  }
  .page_planCards__187cx {
    flex-direction: column;
    align-items: center;
  }
  .page_plan__2qeCb {
    width: 90%;
  }
  .page_testifierText__xvuJh {
    font-size: 1rem;
    text-align: left;
  }
  .page_testimonyContainer__LuU9r{
    gap: 0;
    padding: 0 1em;
  }
  .page_testimonyImage__me3YV {
    width: 50%;
    height: 50%;
  }
  .page_testimonyImage__me3YV img{
    width: 100%;
    height: 100%;
  }
  .page_plans__IitrJ h1,
  .page_testimonials__eoJmU h1,
  .page_features__GdcOS h1,
  .page_howItWorks__Xf7_c h1,
  .page_videoClip__Swi9Z h1{
    font-size: 1.7rem;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./components/components.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
/* NAVBAR */
.components_nav__K0XsO { 
  width: 100%;
  display:flex; 
  justify-content:space-between; 
  align-items:center; 
  padding: 2em 5em; 
  background:var(--color-primary); 
  color:white; 
}
.components_brand__tlVcN a { 
  color: var(--color-white-text); 
  font-weight: 700; 
  text-decoration:none; 
}
.components_links__3sFDe a { 
  margin-left: 1.5rem; 
  color: var(--color-white-text); 
  text-decoration:none; 
  transition: all 0.3s ease;
}
.components_links__3sFDe a:hover{
  color: var(--color-secondary);
}
.components_logout__nJgnE { 
  background:transparent; 
  padding:0.25rem 0.5rem; 
  border-radius:6px; 
  border:1px solid rgba(255,255,255,0.2); 
}

/* FOOTER */
.components_footer__PgqH9 {
  width: 100%;
  height: auto;
  background: var(--color-primary);
  color: var(--color-white-text);
  text-align: center;
  padding: 1em 0;
}

/* Modal Message */
.components_modalMessage__GQlMs {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
}









/* @media screen (min-width: 901px) {
  
}
@media screen (min-width: 601px) and (max-width: 900px) {

} */
@media (max-width: 600px) {
  .components_links__3sFDe {
    display: none;
  }
}
